body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align:center;
}
   
#showcase{
    min-height: 450px;
    color:#fff;
    text-align:center;
}
#showcase .bg-image{
    position: absolute;
    background: #333 url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}
#showcase .content-wrap,#section-a .content-wrap{
    padding-top: 0px;
    padding-right: 1.5em;
    padding-bottom: 0px;
    padding-left: 1.5em;
}
#showcase h1{
    padding-top: 100px;
    padding-bottom: 0;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 1em;
    padding-right: 0px;
    padding-top: 1em;
    padding-left: 0px;
}
.btn{
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}
#section-a {
         background: #eaeaea;
         color: #333;
         padding-bottom: 2em;
}
#section-a h2{
    margin: 0;
    padding: 1em 0;
}
p{
    margin: 0;
    padding: 1em 0;
}
#section-b{
    padding-top: 2em;
    padding-bottom: 25em;
    padding-right: 1em;
    padding-left: 1em;
}
#section-b ul{
    list-style: none;
    margin: 0;
    padding: 5%;
}
#section-b li{
    margin-bottom: 1em;
    background: #fff;
    color: #333;
    float: left;
    width: 33%;
}
#section-b img{
    display: block;
    float:left;
    width: 100%;
    height: auto;
}
#section-b .card-content{
    padding: 1.5em 1.5em;
}
h3{
    margin: 0;
    padding: 1em 0;
}
#section-c{
    background: #fff;
    color: #333;
    padding: 3em;
}
#section-c h2{
    align-content: center;
}
#showcase .content-wrap,#section-c .content-wrap{
    padding-top: 0px;
    padding-right: 1.5em;
    padding-bottom: 0px;
    padding-left: 1.5em;
}
#section-c .content-head{
    align-content: center;
}
#section-d .box-1{
    padding: 2em;
    color: #fff;
    float: left;
    width: 33%;
    
}
#section-d .box-2{
    padding: 2em;
    color: #fff;
    float: right;
    width: 33%;
}


#section-d .box:first-child{
    background: #2690d4;
}
#main-footer{
    padding: 2em;
    background: #000;
    color: #fff;
  
}
#main-footer a{
    color: #2690d4;
    text-decoration: none;
}